.fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-middle {
  align-items: center;
}

.center {
  align-items: center;
  justify-content: center;
}

.padded > div {
  padding: 1em;
}

.flex-expand {
  flex: 1;
}

.scroll {
  overflow: auto;
}

.no-scroll {
  overflow: hidden;
}




/* code window classes */
.pause-overlay {
  pointer-events: none;
}

.pause-btn--paused {
  color: black;
  background-color: #e64a19;
}

.error-bar {
  margin: 0;
  padding: 0.5em 0;
}
